# Environment & Secrets
.env
.env.*
!.env.example
*.pem
*.key
*.p12
*.crt
*.cert
*.serviceaccount.json
google-services.json
GoogleService-Info.plist
*.keystore

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Build & Dependency Outputs
node_modules
dist
dist_electron
dist-ssr
*.local

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
